.introContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.introContainer h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.introContainer p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.introContainer a {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #000;
    text-decoration: none;
    margin-top: 1rem;
}

.icon {
    font-size: 1.5rem;
    margin-right: 5px;
}
